%div
Date:
= @church.fabric.screen.date

%div
Date Secured? 
= @church.fabric.screen.date_secured

%div
Information on Date:
= @church.fabric.screen.date_evidence

%div
Notes:
= @church.fabric.screen.notes