%h3
  .label.label-success Churches:
- if @churches.any?
  - @churches.each do |church|
    %p= church.name
    %p= church.date_first_mention_in_text
    %p= church.town
    %p= church.county
- else 
  No churches have been added yet!